{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script",
    "ecmaFeatures": {}
  },
  "plugins": [
    "rc-leaflet"
  ],
  "extends": [
    "jquery",
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "jquery": true
  }
}