{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script",
    "ecmaFeatures": {}
  },
  "extends": [
    "jquery",
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "L": "readonly",
    "Mustache": "readonly"
  }
}
